@page "/"
<div class="index-page">
    <div class="index-banner">
        <div class="container">
            <h3 class="index-banner-title">
                Хотите научиться профессионально инвестировать и всегда оставаться в плюсе?
            </h3>
            <p class="index-banner-subtitle">
                Грамотно разберем вашу финансовую ситуацию, разработаем стратегию и поможем эффективно <br/> инвестировать

            </p>
            <a href="/" class="index-banner-order">Записаться на курс</a>
        </div>
    </div>
</div>















